# **F is a file pointer and open functions are used for return the file pointer**

In [2]:
with open("abc.txt") as f:
  print(f.read)

<built-in method read of _io.TextIOWrapper object at 0x000001BC9D98EF60>

In [3]:
with open("abc.txt") as f:
  print(f.read())

Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content.
It helps designers plan out where the content will sit, without needing to wait for the content to be written and approved.
It originally comes from a Latin text, but to today's reader, it's seen as gibberish.

In [4]:
with open("abc.txt") as f:
   print(f.read(20))

Lorem Ipsum, sometim

In [5]:
with open("abc.txt") as f:
  print(f.readline())

Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content.

In [6]:
with open("abc.txt","w") as f:
  f.write("python is a interpreter and programming language")

In [7]:
with open("abc.txt","a") as f:
  f.write("\n hello python is a interpreter and programming language ")

**JSON (java script object notation and its a build inbuilt module)**

In [ ]:
import json

In [ ]:
d = '{"format": "ipl","overs": 20,"matches": 45,"captains": 10}'

In [ ]:
type(d)

str

In [ ]:
data = json.loads(d)

In [ ]:
data

{'captains': 10, 'format': 'ipl', 'matches': 45, 'overs': 20}

In [ ]:
data['format']

'ipl'

In [ ]:
sql     structured      tabular
nosql  not-structured   json

In [ ]:
d1 = {"movie":"RRR", "Date": "Tomorrow", "collections":1200, "budget":539}

In [ ]:
f1 = json.dumps(d1)

In [ ]:
print(f1)

{"movie": "RRR", "Date": "Tomorrow", "collections": 1200, "budget": 539}

In [ ]:
f1

'{"movie": "RRR", "Date": "Tomorrow", "collections": 1200, "budget": 539}'

In [ ]:
type(f1)

str

In [ ]:
# Send data to JSON file

In [ ]:
# Method 1

dict_obj = {"q":1, "p":2, "r":3}
jd = json.dumps(dict_obj)
with open("ran_file.json", "w") as k:
    k.write(jd)

In [ ]:
# Method 2

dict_obj = {"q":1, "p":2, "r":3}

with open("new.json", "w") as k:
    json.dump(dict_obj, k)

In [ ]:
# Load data from JSON file

In [ ]:
with open("new.json", "r") as file:
  print(json.load(file))

{'q': 1, 'p': 2, 'r': 3}

In [ ]:
import pandas as pd 
df = pd.read_csv("sample_data/california_housing_test.csv")

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
import json

In [ ]:
# load(): This method is used to load data from a JSON file into a python dictionary.
# Loads( ): This method is used to load data from a JSON variable into a python dictionary.
# dump(): This method is used to load data from the python dictionary to the JSON file.
# dumps(): This method is used to load data from the python dictionary to the JSON variable.

In [ ]:
data ='{"data science":"analysis data","python":"coding","ML":"create Model","DL":"object detection"}'
print(data)

{"data science":"analysis data","python":"coding","ML":"create Model","DL":"object detection"}

In [ ]:
parsed=json.loads(data)
print(parsed)
print(parsed['data science'])
print(type(parsed))

{'data science': 'analysis data', 'python': 'coding', 'ML': 'create Model', 'DL': 'object detection'}
analysis data
<class 'dict'>

In [ ]:
data2 = {
    "name": "python",
    "cars": ['bmw', 'audi a8', 'ferrari'],
    "fridge": ('roti', "fruits"),
    "isbad": False
}

jscomp = json.dumps(data2)
print(jscomp)

{"name": "python", "cars": ["bmw", "audi a8", "ferrari"], "fridge": ["roti", "fruits"], "isbad": false}

In [ ]:
import pandas as pd
df=pd.read_csv("List of lakes.csv")
df

,Name,Country,Reigon,Depth (in meters),Depth (in feet),Depth^2/area
0,Baikal,Russia,Siberia,1642,5387,9.22×10−6
1,Tanganyika,"Tanzania, Democratic Republic of the Congo, B...",East Africa,1470,4823,8.1×10−6
2,Caspian sea,"Iran, Russia, Turkmenistan, Kazakhstan, Azerb...",NaN,1025,3363,1.68×10−6
3,Vostok,Antarctica,NaN,~1000,~3300,8.94×10−6
4,O'Higgins-San Martín,"Chile, Argentina","Aysén (Chile), Santa Cruz (Argentina)",836,2742,2.63×10−5
5,Malawi/Nyasa/Niassa,"Mozambique, Malawi, Tanzania",NaN,706,2316,4.1×10−6
6,Issyk Kul,Kyrgyzstan,NaN,668,2192,8.46×10−6
7,Great Slave,Canada,Northwest Territories,614,2015,3.72×10−6
8,Crater,United States,Oregon,594,1949,8.16×10−5
9,Matano,Indonesia,South Sulawesi,590,1936,4.61×10−5
10,General Carrera-Buenos Aires,"Chile, Argentina",NaN,586,1923,1.36×10−5
11,Hornindalsvatnet,Norway,Vestland,514,1686,7.2×10−5
12,Quesnel,Canada,British Columbia,511,1677,3.13×10−5
13,Toba,Indonesia,Sumatra,505,1657,1.5×10−5
14,Sarez,Tajikistan,NaN,505,1657,5.66×10−5
15,Tahoe,United States,"California, Nevada",501,1645,2.26×10−5
16,Argentino,Argentina,Santa Cruz (Patagonia),500,1640,1.33×10−5
17,Kivu,"Democratic Republic of the Congo, Rwanda",NaN,480,1575,9.24×10−6
18,Salsvatnet,Norway,Trøndelag,464,1523,6.93×10−5
19,Nahuel Huapi,Argentina,"Rio Negro, Patagonia",464,1523,2.02×10−5
20,Hauroko,New Zealand,Southland (South Island),462,1516,5.82×10−5
21,Cochrane / Pueyrredón[6],"Chile, Argentina","Aysén (Chile), Santa Cruz (Argentina)",460,1509,2.55×10−5
22,Lake Tinn,Norway,Vestfold og Telemark,460,1509,6.41×10−5
23,Adams,Canada,British Columbia,457,1499,3.9×10−5
24,Chelan,United States,Washington (state),453,1486,3.9×10−5
25,Van[7],Turkey,NaN,451,1480,7.36×10−6
26,Poso,Indonesia,Sulawesi,450,1476,2.5×10−5
27,Fagnano,"Argentina, Chile",Tierra del Fuego,449,1473,1.77×10−5
28,Great Bear,Canada,Northwest Territories,446,1463,2.53×10−6
29,Manapouri,New Zealand,Southland (South Island),444,1457,3.73×10−5
30,Mjøsa,Norway,"Hedmark, Oppland and Viken",443.5,1455,2.33×10−5
31,Como,Italy,Lombardy,425,1394,3.52×10−5
32,Te Anau,New Zealand,Southland (South Island),425,1390,2.29×10−5
33,Tazawa,Japan,Akita Prefecture,423,1387,8.31×10−5
34,Wakatipu,New Zealand,South Island,420,1378,2.47×10−5
35,Superior,Canada,"Ontario, Michigan, Minnesota, Wisconsin",406,1332,1.42×10−6