**OOP's concept**

**03 june,2022**

**Class**

In [ ]:
# class
class Solver:

  def __init__(self, firstname, lastname, age, gender, city): ## instance variable
    self.fn = firstname
    self.ln = lastname
    self.age = age 
    self.gender = gender
    self.city = city 

  def fullname(self):
    return self.fn + self.ln 

  def biodata(self):
    return "{} {} is {} years old and currently living in {}".format(self.fn, self.ln, self.age, self.city)

  def demographics(self):
    return "living in {}".format(self.city)

In [ ]:
m = Solver("Diksha","Soni","Female","26","Una")

In [ ]:
print(m.fullname())
print(m.biodata())
print(m.demographics())

DikshaSoni
Diksha Soni is Female years old and currently living in Una
living in Una

**instance and class variable**

In [69]:
class Employee():

  increment=1.5  ## class variable 

  def __init__(self,fname,lname, salary): ##  instance variable
    self.fname= fname
    self.lname= lname
    self.salary= salary

  def increment(self):
    self.salary=int(self.increment * Employee.increment)  ## firstly function check the instance variable after they check the class variable  

E=Employee("Diksha","Soni",44000)

In [70]:
print(E.fname)
print(E.__dict__)
E.increment = 9
print(E.__dict__)

Diksha
{'fname': 'Diksha', 'lname': 'Soni', 'salary': 44000}
{'fname': 'Diksha', 'lname': 'Soni', 'salary': 44000, 'increment': 9}

In [79]:
class Employee():

  increment=1.5  ## class variable 
  no_of_employees = 0
  def __init__(self,fname,lname, salary): ##  instance variable
    self.fname= fname
    self.lname= lname
    self.salary= salary
    Employee.no_of_employees+=1

  def increment(self):
     self.salary= int(self.salary * Employee.increment)  ## firstly function check the instance variable after they check the class variable

In [80]:
print(Employee.no_of_employees)
Diksha=Employee("Diksha","Soni",44000)
print(Employee.no_of_employees)
Soni=Employee("Sita","Soni",124000)

0
1

In [81]:
print(Employee.no_of_employees)
Diksha.increment=9
print(Diksha.__dict__)
print(Soni.__dict__)

2
{'fname': 'Diksha', 'lname': 'Soni', 'salary': 44000, 'increment': 9}
{'fname': 'Sita', 'lname': 'Soni', 'salary': 124000}

**Class Methods**

In [96]:
class Employee():

  increment=1.5  ## class variable 
  no_of_employees = 0
  def __init__(self,fname,lname, salary): ##  instance variable ## self use as a instance argument
    self.fname= fname
    self.lname= lname
    self.salary= salary
    Employee.no_of_employees+=1

  def increase(self):
    self.salary=int(self.salary * Employee.increment) 

  @classmethod
  def change_increment(cls,amount): ## class method  as a argument like cls (@classmethod is a decorator) 
    #increment=9 
    cls.increment = amount

In [97]:
Diksha=Employee("Diksha","Soni",44000)
Soni=Employee("Sita","Soni",124000)

In [98]:
print(Diksha.salary)
Employee.change_increment(3)
Diksha.increase()
print(Diksha.salary)

44000
132000

**Class Methods As Alternative Constructor**

In [99]:
class Employee():

  increment=1.5  ## class variable 
  no_of_employees = 0
  def __init__(self,fname,lname, salary): ##  instance variable ## self use as a instance argument
    self.fname= fname
    self.lname= lname
    self.salary= salary
    Employee.no_of_employees+=1

  def increase(self):
    self.salary=int(self.salary * Employee.increment) 

  @classmethod
  def change_increment(cls,amount): ## class method  as a argument like cls (@classmethod is a decorator) 
    #increment=9 
    cls.increment = amount

  @classmethod
  def from_str(cls,emp_string):
    fname,lname,salary=emp_string.split("-")
    return cls(fname,lname,salary)

In [100]:
Diksha=Employee("Diksha","Soni",44000)
Soni=Employee("Sita","Soni",124000)
preet=Employee("Preet","puri",52000)

In [101]:
print(preet.fname)

Preet

**Static Method**

In [128]:
class Employee:
  increment=1.5
  no_of_employee=0
  def __init__(self,fname,lname,salary):
    self.fname=fname
    self.lname=lname
    self.salary=salary

  def increase(self):
    self.salary= int(self.salary*Employee.increment)

  @classmethod
  def change_salary(cls,amount):
    cls.incrase=  amount

  @staticmethod
  def isopen(day):
    if day=="sunday":
      return False
    else:
       return True   

a=Employee("Diksha","Soni",52000)
b=Employee("Nancy","Soni",41000)

In [129]:
print(Employee.isopen("sunday"))
print(a.fname)
print(a.salary)
Employee.change_salary(3)
a.increase()
print(a.salary)

False
Diksha
52000
78000

In [ ]:
class Employees:

  def __init__(self,e_firstname,e_lastname,e_salary,e_designation,e_address,e_department):
    self.e_fn = e_firstname
    self.e_ln = e_lastname
    self.e_salry = e_salary
    self.e_desg = e_designation
    self.e_add = e_address
    self.e_depart = e_department

  def fullname(self):
    return self.e_fn + self.e_ln

  def  salary(self):
    return ("{}{} salary is {}".format(self.e_fn,self.e_ln,self.e_salry))

  def designation(self):
      return("{}{} is {}".format(self.e_fn,self.e_ln,self.e_desg)) 

  def  address(self):
    return ("{}{} address is {}".format(self.e_fn,self.e_ln, self.e_add))

  def department(self):
     return ("{}{} working in {}".format(self.e_fn,self.e_ln,self.e_depart))

PreetSoni
PreetSoni salary is 56000
PreetSoni is developer
PreetSoni address is himachal Pradesh
PreetSoni working in IT department

In [ ]:
employees_detail=Employees("Preet","Soni","56000","developer","himachal Pradesh","IT department")

In [ ]:
print(employees_detail.fullname())
print(employees_detail.salary())
print(employees_detail.designation())
print(employees_detail.address())
print(employees_detail.department())

PreetSoni
PreetSoni salary is 56000
PreetSoni is developer
PreetSoni address is himachal Pradesh
PreetSoni working in IT department

In [ ]:
class calculator:
  l1= []
  def __init__(self, a = int, b = int):
    self.a = a
    self.b = b

  def addition(self):
    c = self.a + self. b
    return l1.append(c)

  def subtraction(self):
    d = self.a - self.b
    return l1.append(d)

  def multiplication(self):
    e = self.a * self.b
    return l1.append(e)

  def division(self):
    f = self.a / self.b
    return l1.append(f)

  

# calling 

a = calculator(4,5)
print(a.addition())
print(a.subtraction())
print(a.multiplication())
print(a.division())

NameError: ignored

In [ ]:
class Parrot:
   
    def __init__(self, name,age,song):
        self.name = name
        self.age = age
        self.song = song
    
    
    def sing(self):
        return "{} singing song {}".format(self.name,self.song)

    def dance(self):
        return "{} is now dancing".format(self.name)

    def bio(self):
       return "{} is {} years old".format(self.name,self.age)    


b = Parrot("green parrot", "3","abc")


print(b.sing())
print(b.dance())
print(b.bio())

green parrot singing song abc
green parrot is now dancing
green parrot is 3 years old

In [ ]:
class Circle():

    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

NewCircle = Circle(5)
print("Area of circle:-",NewCircle.area())
print("Perimeter of Circle:-",NewCircle.perimeter())

Area of circle:- 78.5
Perimeter of Circle:- 31.400000000000002

In [ ]:
#Your code here
class BankAccount:
    # create the constuctor with parameters: accountNumber, name and balance 
    def __init__(self,accountNumber, name, balance):
        self.accountNumber = accountNumber
        self.name = name
        self.balance = balance
        
    # create Deposit() method
    def Deposit(self , d ):
        self.balance = self.balance + d
    
    # create Withdrawal method
    def Withdrawal(self , w):
        if(self.balance < w):
            print("impossible operation! Insufficient balance !")
        else:
            self.balance = self.balance - w
    # create bankFees() method
    def bankFees(self):
        self.balance = (95/100)*self.balance
        
    # create display() method
    def display(self):
        print("Account Number : " , self.accountNumber)
        print("Account Name : " , self.name)
        print("Account Balance : " , self.balance , " rs")
        
# Testing the code :
newAccount = BankAccount(2178514584, "Albert" , 2700)
#Creating Withdrawal Test
newAccount.Withdrawal(300)
# Create deposit test
newAccount.Deposit(200)
#Display account informations
newAccount.display()

Account Number :  2178514584
Account Name :  Albert
Account Balance :  2600  rs

In [130]:
class Student:
    # Constructor
    def __init__(self, firstname,lastname, rollno, department,semester,course):
        self.fname = firstname
        self.lname = lastname
        self.rollno = rollno
        self.department = department
        self.semester = semester
        self.course = course

    def  fullname(self): 
      return  self.fname + self.lname

    def identity(self):
      return "my name is {}{}my department is {}".format(self.fname, self.lname, self.department)

    def course(self):
      return"{}{} choose {} course and her rollno is{} ".format(self.fname, self.lname, self.course,self.roll)

    def semester(self):
        return"{} {}in {}department or her semester is{}".format(self.fname, self.lname, self.department,self.semester) 
                  
stud_detail=Student("preet","Soni",101,"IT","4th","Computer science")
print(stud_detail.fullname())
print(stud_detail.identity())

preetSoni
my name is preetSonimy department is IT

In [ ]:
class DataConverters:

  def __init__(self, list_data):
    self.l = list_data

  def int_to_str(self):
    return list(map(str, self.l))

In [ ]:
g = DataConverters([12, 23, 34, 45])

In [ ]:
g.int_to_str()

['12', '23', '34', '45']

In [ ]:
class Colleges:
 
    def __init__(self, rank, name, place, tuition_fee, country):
        self.rank = rank
        self.name = name
        self.place = place
        self.fee = tuition_fee
        self.country = country

    def rank_of_college(self):
        return self.rank

    def name_and_place(self):
        return self.name + ", " + self.place + ", " + self.country

    def tuition_fees(self):
        return self.fee

In [ ]:
c = Colleges("A","Himachal Pradesh technical university","HP","5000","india")

In [ ]:
print("Rank of college is:-",c.rank_of_college())
print("Name and place of college:-",c.name_and_place())
print("College tution fees:-",c.tuition_fees())

Rank of college is:- A
Name and place of college:- Himachal Pradesh technical university, HP, india
College tution fees:- 5000

In [ ]:
class Food:
    def __init__(self, food_type):
        self.food_type = food_type
        
        self.set_awesomeness()
    
    def is_awesome():
        return 'is awesome'

    def not_awesome():
        return 'not awesome'

    # Point to the wanted behavior
    def set_awesomeness(self):
        if self.food_type == 'cookie':
            self.awesomeness = Food.is_awesome()
        else:
            self.awesomeness = Food.not_awesome()

    def get_awesomeness(self):
        return self.awesomeness
    
cookie = Food('cookie')
cookie.get_awesomeness() # 'is awesome'

donut = Food('donut')
donut.get_awesomeness() # 'not awesome'

'not awesome'

In [ ]:
class Food:
    def __init__(self,food_type):
        self.food_type = food_type

    def is_awesome(self):
         if self.food_type == 'cookie':
            return "is awesome"
         else:
            return "not awesome"


Oreo = Food('cookie')
Oreo.is_awesome()

'is awesome'

In [ ]:
class Article:
    def __init__(self, title, page_count):
        # initialize protected attributes
        self._title = title
        self._page_count = page_count
         
    # define protected method
    def _show(self):
        # access protected attributes inside class 
        print("Article Title: ", self._title)
        print("Page Count: ", self._page_count)
         
class Author(Article):
    def __init__(self, name, title, page_count):
        Article.__init__(self, title, page_count)
        self.name = name
    def display(self):
        print("Author Name: ", self.name)
        # access Article's protected method
        self._show()
        print("------------------ \n")
         
         
author = Author("Eyong Kevin", "Python Classes and Objects", 3000)
author.display()
# access protected data

Author Name:  Eyong Kevin
Article Title:  Python Classes and Objects
Page Count:  3000
------------------

Python Classes and Objects

In [ ]:
class Article:
    def __init__(self, title, page_count):
        self._title = title
        self._page_count = page_count
    
    def _show(self):
        print("Article Title: ", self._title)
        print("Page Count: ", self._page_count)
         
class Author(Article):
    def __init__(self, name, title, page_count):
        Article.__init__(self, title, page_count)
        self.name = name
    def display(self):
        print("Author Name: ", self.name)
        # access Article's protected method
        self._show()
        print("------------------ \n")
         
         
author = Author("Eyong Kevin", "Python Classes and Objects", 3000)
author.display()
# access protected data

In [ ]:
class Anime:

  def __init__(self,character,series):

    self.ch = character

    self.se = series



  def ranking(self):

    if self.se in ["One piece","Naruto","Bleach","DBS","My hero academia"]:

      print("{} is a character of {} series which is in top 5 ranking.".format(self.ch,self.se))

    elif self.se in ["7 deadly sins","Death Note","Tokyo goual","Jujutsu kaiosin","Spy family"]:

      print("{} is a character of {} series which is in top 10 ranking.".format(self.ch,self.se))

    else:

      print("{} is a character of {} series which has no rank yet.".format(self.ch,self.se))

A = Anime('Deku','My hero academia')

A.ranking()

Deku is a character of My hero academia series which is in top 5 ranking.

***Inheritance:-Inheritance allows us to define a class that inherits all the methods and properties from another class.***

In [ ]:
parent class(   base  class   )

child class(   derived class   )

In [147]:
class Employee:
  increment=0.5
  def __init__(self,fname,lname,salary):
    self.fname=fname
    self.lname=lname
    self.salary=salary

class Programmer(Employee):
  
  def __init__(self,fname,lname,salary,prolang,exp):
    super().__init__(fname,lname,salary)
    self.prolang = prolang
    self.exp = exp

  def increase(self):
    self.salary=int(self.salary* (self.increment+0.2))
    #return self.salary
p = Programmer("Diksha","Soni",52000,"Data scientist","2yrs")   ## Object of Programmer
print(p.exp)
print(p.salary)
print(p.increase())  ## its print none because they dont return the function they return the value of function.
help(Programmer)

2yrs
52000
None

In [ ]:
class GlobalWarming:

  def __init__(self, country, city, latitude, longitude):
    self.country = country
    self.city = city
    self.lat = latitude
    self.lon = longitude

  def statement(self):
    self.new = "{} in {} tops global warming rate".format(self.city, self.country)
    return self.new 

# properties: self.country, self.city, self.lat, self.lon
# methods: statement

In [ ]:
gw = GlobalWarming("USA", "Chicago", 98.2, 98.1)

In [ ]:
class Environment(GlobalWarming):
  pass

In [ ]:
ev = Environment("India", "Newdelhi", 98.2, 98.1)

In [ ]:
ev.statement()

'Newdelhi in India tops global warming rate'

In [ ]:
class Person(object):
      
    # Constructor
    def __init__(self, name):
        self.name = name
  
    # To get name
    def getName(self):
        return self.name
  
    # To check if this person is an employee
    def isEmployee(self):
        return False
  
  
# Inherited or Subclass (Note Person in bracket)
class Employee(Person):
  
    # Here we return true
    def isEmployee(self):
        return True
  
# Driver code
emp = Person("abcd")  # An Object of Person
print(emp.getName(), emp.isEmployee())
  
emp = Employee("efgh") # An Object of Employee
print(emp.getName(), emp.isEmployee())

abcd False
efgh True

In [ ]:
class Employee:

  def __init__(self,fname,lname,designation,salary):
    self.fname=fname
    self.lname=lname
    self.desg= designation
    self.salary= salary

  def details(self):
    self.new="The name of employee is {} {}.he/she is {}".format(self.fname,self.lname,self.desg)
    return self.new
e=Employee("SIta","puri","developer",45000)
e.details()

'the name of employee isSIta puri.he/she is developer'

In [ ]:
class Student(Employee):
  pass
e= Student("SIta","puri","developer",45000)
e.details()

'the name of employee isSIta puri.he/she is developer'

**step-1**

In [ ]:
class GlobalWarming:

  def __init__(self, country, city, latitude, longitude):
    self.country = country
    self.city = city
    self.lat = latitude
    self.lon = longitude

  def statement(self):
    self.new = "{} in {} tops global warming rate".format(self.city, self.country)
    return self.new 

# properties: self.country, self.city, self.lat, self.lon
# methods: statement

In [ ]:
gw = GlobalWarming("USA", "Chicago", 98.2, 98.1)

In [ ]:
gw.statement()

'Chicago in USA tops global warming rate'

In [ ]:
class Environment(GlobalWarming):
  pass
ev = Environment("India", "Newdelhi", 98.2, 98.1)
ev.statement()

'Newdelhi in India tops global warming rate'

**step-2**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self, country, city, latitude, longitude):
    self.m = country
    #props

In [ ]:
mn = Environment("India", "Newdelhi", 98.2, 98.1)

# when  u define a __init__ method in child class, child class is not inheriting __init__ function of parent class.

In [ ]:
mn.statement()

AttributeError: ignored

**step-3**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self,  country, city, latitude, longitude):
    GlobalWarming.__init__(self,  country, city, latitude, longitude)

In [ ]:
mvp = Environment("India", "Newdelhi", 98.2, 98.1)

In [ ]:
mvp.statement()

'Newdelhi in India tops global warming rate'

**step-4**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self,  country, city, latitude, longitude):
    super().__init__(country, city, latitude, longitude)

In [ ]:
prototype = Environment("India", "Newdelhi", 98.2, 98.1)

In [ ]:
prototype.statement()

'Newdelhi in India tops global warming rate'

**step-5**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self,  country, city, latitude, longitude):
    super().__init__(country, city, latitude, longitude)

In [ ]:
prototype = Environment("India", "Newdelhi", 98.2, 98.1)

In [ ]:
prototype.statement()

'Newdelhi in India tops global warming rate'

**step-6**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self,  country, city, latitude, longitude):
    super().__init__(country, city, latitude, longitude)
    self.temp = 80

In [ ]:
min_pro = Environment("India", "Newdelhi", 98.2, 98.1)

In [ ]:
min_pro.temp

80

**step-7**

In [ ]:
class Environment(GlobalWarming):
  def __init__(self,  country, city, latitude, longitude, temperature):
    super().__init__(country, city, latitude, longitude)
    self.temp = temperature

In [ ]:
t = Environment("India", "Newdelhi", 98.2, 98.1)

TypeError: ignored

In [ ]:
t_new = Environment("India", "Newdelhi", 98.2, 98.1, 30)

In [ ]:
t_new.statement()

'Newdelhi in India tops global warming rate'

In [ ]:
class DonMan:   #class
  x = 20 #class attribute

  def __init__(self, a, b):   # __init__ method
    self.akbar = a  #instance attribute
    self.birbal = b #instance attribute 

  def add(self):   # add method
    return self.akbar + self.birbal

In [ ]:
m = DonMan(12, 23)  # m is class object

In [ ]:
m.x

20

In [ ]:
m.akbar

12

In [ ]:
m.birbal

23

In [ ]:
class Parent():

  def __init__(self, firstname, lastname, salary):
    self.fn = firstname
    self.ln = lastname
    self.sal = salary
  
  def first_month(self):
    print(self.fn)
    print(self.ln)
    print(self.sal) 

  def info(self):
    print("My first name is: {}".format(self.fn))
    print("My last name is: {}".format(self.ln))
    print("My salary is: {}".format(self.sal))

In [ ]:
class Child(Parent):
  def __init__(self, firstname, lastname, salary, city, country):
    self.city = city
    self.country = country 
    super().__init__(firstname, lastname, salary)
  
  def info(self):
    print("My first name is: {}".format(self.fn))
    print("My last name is: {}".format(self.ln))
    print("My salary is: {}".format(self.sal))
    print("My city is: {}".format(self.city))
    print("My country is: {}".format(self.country))

In [ ]:
h = Child('sumanth', 'meenan', 1600000, 'bapatla', 'India')

In [ ]:
h.first_month()

sumanth
meenan
1600000

In [ ]:
h.info()

My first name is: sumanth
My last name is: meenan
My salary is: 1600000
My city is: bapatla
My country is: India

In [ ]:
g = Parent('sumanth', 'meenan', 1600000)

In [ ]:
g.info()

My first name is: sumanth
My last name is: meenan
My salary is: 1600000

In [ ]:
class College:

  def __init__(self,name,courses,department,teachers,students):
    self.name = name
    self.courses = courses
    self.department = department
    self.teachers =teachers
    self.students = students

  def college_detail(self):
    return "My college name is {}".format( self.c_name)

  def college_info(self):
    print("Different courses in college like {}".format(self.courses))
    print("Different department is college like {}".format(self.department))
    print("Total teachers in college {}". format(self.teachers))
    print("total studnets in college {}".format(self.students))

In [ ]:
class school(College):
  
  def __init__(self,name,department,courses,teachers,students,libraries,games):
    self.lib = libraries
    self.games=games
    super().__init((self,name,courses,department,teachers,students))

  def school_details(): 
    print("My school name is {}".format(self.name))
    print("total department in school{}".format(self.department))
    print("total courses in school{}".format(self.courses))
    print("total teachers in school{}".format(self.teachers))
    print("total libraries in school{}".format(self.libraries))
    print("different games in school{}".format(self.games))

In [ ]:
c = College("HPTU","13","5","45","1000")

In [ ]:
c.college_info()

Different courses in college like 13
Different department is college like 5
Total teachers in college 45
total studnets in college 1000

In [ ]:
class Earth:
  def __init__(fact,country,population,gdp):
    fact.c = country
    fact.p = population
    fact.g = gdp
  def economy(fact):
    print("{} has a population of {}.".format(fact.c,fact.p))
  def gros_dom_pro(fact):
    print("GDP of {} is INR {} Trillion".format(fact.c,fact.g))
e = Earth("India","1.4 Billion",236.65)
class Country(Earth):
  def __init__(fact,country,population,gdp,exports,imports):
    fact.e = exports
    fact.i = imports
    super().__init__(country,population,gdp)
  def economy(fact):
    print("{}'s import are worth {}.".format(fact.c,fact.i))
    print("{}'s exports are worth {}.".format(fact.c,fact.e))
  def all_detail(fact):
    print("Country Name: {}".format(fact.c))
    print("Population: {}".format(fact.p))
    print("Gross Domestic Product: {}".format(fact.g))
    print("Imports worth: {}".format(fact.i))
    print("Exports worth: {}".format(fact.e))
c = Country("India","1.4b",236.65,"$323.25b","$478.88b")
e = Earth("India","1.4b",236.65)
print(e.gros_dom_pro())
print(e.economy())
print(c.economy())
print(c.all_detail())

GDP of India is INR 236.65 Trillion
None
India has a population of 1.4b.
None
India's import are worth $478.88b.
India's exports are worth $323.25b.
None
Country Name: India
Population: 1.4b
Gross Domestic Product: 236.65
Imports worth: $478.88b
Exports worth: $323.25b
None

**Polymorphism (with inheritance)**

In [ ]:
class Travel:

  def introduction(self):
    print("There are many ways of travel")

  def mode(self):
    print("Most of them can walk but some cannot")

In [ ]:
class Bus(Travel): 

  def mode(self):
    print("we can travel through bus")

In [ ]:
class Boat(Travel):

  def mode(self):
    print("we cannot travel through boat")

In [ ]:
t = Travel()
t_bus = Bus()
t_boat = Boat()

In [ ]:
t.introduction()

There are many ways of travel

In [ ]:
t.mode()

Most of them can walk but some cannot

In [ ]:
t_bus.introduction()

There are many ways of travel

In [ ]:
t_bus.mode()

we can travel through bus

In [ ]:
t_boat.introduction()

There are many ways of travel

In [ ]:
t_boat.mode()

we cannot travel through boat

**polymorphism**

In [ ]:
class Bachelors:

  def intro(self):
    print("after completion of 12th i joined bachelors")

  def span(self):
    print("Its a span of 4 years")

  def country(self):
    print("I study in India")

In [ ]:
class Masters:

  def intro(self):
    print("after completion of bachelors i joined masters")

  def span(self):
    print("Its a span of 2 years")

  def country(self):
    print("I study in America")

In [ ]:
b = Bachelors()
m = Masters()

In [ ]:
for a in (b,m):
  a.intro()
  a.span()
  a.country()

after completion of 12th i joined bachelors
Its a span of 4 years
I study in India
after completion of bachelors i joined masters
Its a span of 2 years
I study in America

In [ ]:
class Birds():

  def intro(self):
    print("There are different type of birds")

  def fly(self):
    print("some birds are fly and some birds are not fly")

class parrots(Birds):

  def fly(self):
    print("parrots are fly in the air")

  def sparrow(self):
    print("sparrow are fly in the air")

class penguin(Birds):   

    def not_fly(slef):
      print("penguins are not fly")

    def ostrich(self):
      print("ostrich are not fly")

b = Birds()
b_parrot = parrots()
b_penguin = penguin()

In [ ]:
b.intro()

There are different type of birds

In [ ]:
b_parrot.fly()

parrots are fly in the air

In [ ]:
b_penguin.not_fly()

penguins are not fly

In [ ]:
class India():
     def capital(self):
       print("New Delhi")
 
     def language(self):
       print("Hindi and English")
 
class USA():
     def capital(self):
       print("Washington, D.C.")
 
     def language(self):
       print("English")
 
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
  country.capital()
  country.language()

New Delhi
Hindi and English
Washington, D.C.
English

TypeError: ignored

**Encapsulation**

In [ ]:
class Cow:
  def __init__(self): 
    self.a = "Honey"
    self.__b = "cheetah" #private member
    self._c = "hey"  #protected member

In [ ]:
class Calf(Cow):
  def __init__(self):
    super().__init__()
    print("call b from parent class")
    print(self.__b)

In [ ]:
obj = Cow()

In [ ]:
print(obj.a)

Honey

In [ ]:
print(obj.__b)

AttributeError: ignored

In [ ]:
new_obj = Calf()

call b from parent class

AttributeError: ignored

**Public members:-Public members are accessible anywhere from the class. All the member variables of the class are by default public.**

In [ ]:
class edpresso:
    # constructor
    def __init__(self, name, project):
        self.name = name;
        self.project = project; ## public member

    def displayProject(self): 
        # accessing public data member 
        print("Project: ", self.project)

# creating object of the class 
edp = edpresso("TeamPhoenix", 1);

# accessing public data member 
print("Name: ", edp.name)  

# calling public member function of the class 
edp.displayProject()

Name:  TeamPhoenix
Project:  1

**Protected members:-Protected members are accessible within the class and also available to its sub-classes. To define a protected member, prefix the member name with a single underscore “_”.**

In [ ]:
class edpresso:
    def __init__(self, name, project):
        self._name = name
        self._project = project ## Protected Member

# creating object of the class 
edp = edpresso("TeamPhoenix", 2)

# direct access of protected member
print("Name:",edp._name)
print("project:",edp._project)

Name: TeamPhoenix
project: 2

**Private members:-Private members are accessible within the class. To define a private member, prefix the member name with a double underscore “__”.**

In [ ]:
class edpresso:
   def __init__(self, name, project):
      # public variable
      self.name = name
      # private variable
      self.__project = project ## private Membe

# creating an instance of the class Sample
edp = edpresso('TeamPhoenix', 3)

# accessing public variable name
print("Name:",edp.name)

# accessing private variable __project using 
# _Edpresso__project name
print("Project:",edp._edpresso__project)

Name: TeamPhoenix
Project: 3

**Regex patterns**

In [ ]:
meta chars       .[{()\^$|?*+

In [ ]:
.  matches every character 
\. matches only .
\\ matches only \

In [ ]:
import re

pattern = '^a...s$'
test_string = 'abyss'
result = re.match(pattern, test_string)

In [ ]:
print(result)

<re.Match object; span=(0, 5), match='abyss'>

In [ ]:
.     means any char except new line 
\d    means digit (0-9)
\D    means not a digit (0-9)
\w    means word char (a-z A-Z 0-9 _)
\W    means not a word char
\s    means whitespace(space, tab, newline)
\S    means not a whitespace

In [ ]:
\b  means word boundary  
\B  means not a word boundary 
^   means beginning of a string 
$   means end of a string

In [ ]:
[]  means matches chars in brackets 
[^ ] means matches characters not in brackets 
|   means either or 
()  means group

In [ ]:
# quantifiers 

*         0 or more
+         1 or more 
?         0 or one
{3}       exact number 
{3,4}     range of numbers (min, max)

In [ ]:
111-342-9999 
111.342.9028


\d{3}.\d{3}.\d{4}

In [ ]:
Amritsar 
Aurangabad 
Alphonso 
America 
Amudalavalsa

In [ ]:
import re

pattern = '^A\w+'
test_string = 'Amudalavalsa'
result = re.match(pattern, test_string)

In [ ]:
result

In [ ]:
import re

pattern = '^A\w+r$'
test_string='Amritsar'
result = re.match(pattern, test_string)

In [ ]:
result

In [ ]:
import re
mystr = '''Tata Limited
Dr. David Landsman, executive director
18, Grosvenor Place
London SW1X 7HSc
Phone: +44 (20) 7235 8281
Fax: +44 (20) 7235 8727
Email: tata@tata.co.uk
Website: www.europe.tata.com
Directions: View map

Tata Sons, North America
1700 North Moore St, Suite 1520
Arlington, VA 22209-1911
USA
Phone: +1 (703) 243 9787
Fax: +1 (703) 243 9791
66-66
455-4545
Email: northamerica@tata.com 
Website: www.northamerica.tata.com
Directions: View map fass
harry bhai lekin
bahut hi badia aadmi haiaiinaiiiiiiiiiiii'''

# findall, search, split, sub, finditer
patt = re.compile(r'fass')
patt = re.compile(r'.adm')
patt = re.compile(r'^Tata')
patt = re.compile(r'iin$')
patt = re.compile(r'ai{2}')
patt = re.compile(r'(ai){1}')
patt = re.compile(r'ai{1}|Fax')


# Special Sequences
patt = re.compile(r'Fax\b')
patt = re.compile(r'27\b')
patt = re.compile(r'\d{5}-\d{4}')
# Task
# Given a string with a lot of indian phone numbers starting from +91

matches = patt.finditer(mystr)
for match in matches:
    print(match)

<re.Match object; span=(284, 294), match='22209-1911'>

In [ ]:
import re
string_data = "Hello and welcome"
patter = r"\bw\w+"
result = re.findall(patter,string_data)
result

['welcome']