**List comprehension**

In [ ]:
#  List comprehension
data_y = [2, 34, 45,6,7.7]

newdata = []
for a in data_y:
  b= str(a)
  newdata.append(b)

In [ ]:
newdata

['2', '34', '45', '6', '7.7']

In [ ]:
[str(a) for a in data_y]

['2', '34', '45', '6', '7.7']

In [ ]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]

In [ ]:
def remove_tuples(data):

  new_t = [t for t in data if len(t) > 0]

  return new_t

In [ ]:
remove_tuples(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
## Find all of the numbers from 1â€“1000 that have a 6 in them
list = [i for i in range(1, 1000) if '6' in str(i)]
print (list)

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

In [ ]:
num = []

for i in range(1,1000):

  if '6' in str(i):

    b = print(i)

    num.append(b)

6
16
26
36
46
56
60
61
62
63
64
65
66
67
68
69
76
86
96
106
116
126
136
146
156
160
161
162
163
164
165
166
167
168
169
176
186
196
206
216
226
236
246
256
260
261
262
263
264
265
266
267
268
269
276
286
296
306
316
326
336
346
356
360
361
362
363
364
365
366
367
368
369
376
386
396
406
416
426
436
446
456
460
461
462
463
464
465
466
467
468
469
476
486
496
506
516
526
536
546
556
560
561
562
563
564
565
566
567
568
569
576
586
596
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
706
716
726
736
746
756
760
761
762
763
764
765
766
767
768
769
776
786
796
806
816
826
836
846
856
860
861
862
863
864
865
866
867
868
869
876
886
896
906
916
926
936
946
956
960
961
962
963
964
965
966
967
968
969
976
986
996

In [ ]:
## even or odd using lambda function?
number = input ("enter the number:-")
even_odd=lambda :"even number"if i%2==0 else "odd number"  ## ip:op
print(even_odd())

enter the number:-52
even number

In [ ]:
## add using lambda function
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = int(input("Enter a number: "))
evenodd = lambda x: x % 2 == 0
if evenodd(x) == False:
  print("Odd")
else:
  print("even")

Enter a number: 12
even

In [ ]:
x=lambda a: ("even" if a%2==0 else "odd")

x(8)

'even'

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x =  lambda a,b,c: a*b*c
print(x(3,2,5))

30

In [ ]:
x = lambda a,b : a/b
print(x(14,7))

2.0

In [ ]:
## Write a Python program to sort a list of tuples using Lambda.
tlist= [('b', 1, 22), ('a', 1, 16), ('a', 1, 14), ('d', 2, 12), ('d', 2, 11)]
tlist = sorted(tlist, key=lambda x:x[1])
print(tlist)

[('b', 1, 22), ('a', 1, 16), ('a', 1, 14), ('d', 2, 12), ('d', 2, 11)]

In [ ]:
tlist= [('b', 1, 22), ('a', 1, 16), ('a', 1, 14), ('d', 2, 12), ('d', 2, 11)]
tlist=sorted(tlist,key=lambda x : (x[1],x[-1]))
print(tlist)

[('a', 1, 14), ('a', 1, 16), ('b', 1, 22), ('d', 2, 11), ('d', 2, 12)]

In [ ]:
## Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
def func_compute(n):
 return lambda x : x * n
result = func_compute(2)
print("Double the number of 15 =", result(15))
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [ ]:
n=input("enter the number")  
x=lambda x: x*n
print(x(2))

enter the number5
55

In [ ]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

In [ ]:
## Write a Python program to sort a list of tuples using Lambda
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
subject_marks =sorted(subject_marks, key = lambda x : (x[1],x[-1]))
print(subject_marks)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
## Write a Python program to sort a list of dictionaries using Lambda.

dict=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, 
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
dict = sorted(dict, key = lambda x : x['color'])
print(dict)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [3]:
##  Write a Python program to filter a list of integers using Lambda
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums=list(filter( nums even lambda if i%2==0 :nums ))

SyntaxError: ignored